#board-table {
    margin-top: 25px;
}

#board-table td{
    border-bottom: 1px solid black;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

#board-table th{
    border-bottom: 1px solid black;
    padding: 5px 0;
}

#board-table tbody tr:hover {
    background-color: rgb(218, 218, 218);
}

.disable{
    border: 0 none;
    background: transparent;
    outline: 0;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
    color: #444;
    font-weight: 400;
    padding: 1px 6px;
}

.able{
    border: 0 none;
    background: transparent;
    outline: 0;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
    color: #D3D3D3;
    font-weight: 400;
    cursor: pointer;
    padding: 1px 6px;
}

.able:hover {
    font-weight: bold;
}

.write-area{
    width: 100%;
    margin-top: 25px;
    padding: 0 30px;
}

.write-area> span{
    width: 65%;
    display: inline-block;
}

.write-area>input[type="file"]{
    width: 65%;
    margin: 5px 0 0 0;
    text-overflow: ellipsis;
    cursor: pointer;
}

.write-area>p{
    margin-top: 5px;
    text-overflow: ellipsis;
}

.write-area textarea {
    width: 100%;
    min-height: 200px;
}

.write-area .content-wrap {
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid rgb(131, 131, 131);
    padding: 10px;
}

.write-title {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.write-title>span {
    width: 50px;
}

.write-title>input {
    width: calc(100% - 50px);
}

.btn-area{
    margin-top: 15px;
}

.btn-area>*{
    margin-right: 7px;
}

.btn-area>*:last-child {
    margin-right: 0;
}

#file-area{
    display: inline-block;
    width: 65%;
}

.etc-area{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-area>* {
    margin-right: 7px;
}
.search-area>*:last-child {
    margin-right: 0;
}
#searchValue {
    padding-left: 5px;
}

.write-btn{
    display: inline-block;
}

.paging-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}