/* 전체 적용 css START */

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'), url(../fonts/notoSans/eot/NotoSansKR-Thin-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Thin-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url(../fonts/notoSans/eot/NotoSansKR-Light-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Light-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'), url(../fonts/notoSans/eot/NotoSansKR-DemiLight-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../fonts/notoSans/eot/NotoSansKR-Regular-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/notoSans/eot/NotoSansKR-Medium-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../fonts/notoSans/eot/NotoSansKR-Bold-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Bold-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'), url(../fonts/notoSans/eot/NotoSansKR-Black-Hestia.eot), url(../fonts/notoSans/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'), url(../fonts/notoSans/woff/NotoSansKR-Black-Hestia.woff) format('woff'), url(../fonts/notoSans/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: rgb(34, 34, 25);
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #C6C9CE;
    margin: 10px 0;
    padding: 0
}

input,
select {
    vertical-align: middle;
    outline: none
}

html,
body {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
    color: #444;
    font-weight: 400;
}

ul li {
    list-style: none
}

img {
    vertical-align: middle
}

caption {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden
}

legend {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    display: none
}

input,
select,
textarea,
pre {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
    color: #444;
    font-weight: 400;
}

pre {
    white-space: pre-wrap
}

button {
    border: 0 none;
    background: transparent;
    outline: 0;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
    color: #444;
    font-weight: 400;
    cursor: pointer;
    padding: 1px 6px;
}

input {
    vertical-align: middle
}

input[type="button"] {
    line-height: 999px;
    text-indent: -9999px;
    cursor: pointer
}

input[type="checkbox"] {
    margin-right: 4px
}

input[type="radio"] {
    margin-right: 2px;
    vertical-align: middle
}

input[readonly="readonly"] {
    background: #fbf 9e4;
}

input[readonly="readonly"].validatebox-readonly {
    background: #ffffff;
}

select {
    vertical-align: middle;
    border: 1px solid #D3D3D3;
    height: 23px;
    color: #585858;
    font-size: 14px;
    padding-left: 10px
}

textarea {
    padding: 5px;
    border: 1px solid #d3d3d3;
    overflow-y: auto;
    outline: none;
}

textarea:focus {
    border: 1px solid #0173c7;
}

em,
address {
    font-style: normal
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

p,
a,
h2,
h3 {
    word-wrap: break-word;
}

textarea {
    resize: none;
}

a,
button {
    outline: none;
}

strong {
    font-weight: 500;
}

html,
body {
    height: 100%;
}

body {
    min-width: 920px;
}


/* 전체 적용 css END */


/* 공통 css START */

.flex { display: flex; }

.block { display: block; }

.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }

.h-25 { height: 25px; }
.h-30 { height: 30px; }
.h-35 { height: 35px; }

.btn {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: #eee;
}

.btn.block {
    display: block;
    width: 100%;
}

.btn.sign {
    margin: 0 10px;
    box-shadow: -1px 1px 3px #000;
    color: #fff;
    border: 0px;
    font-size: 16px;
}

.item {
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.icon.phone {
    background: url(../icons/icon_phone.png) 50% no-repeat;
    background-size: 14px;
}

.icon.apartment {
    background: url(../icons/icon_apartment.png) 50% no-repeat;
    background-size: 23px;
}

.icon.internet {
    background: url(../icons/icon_internet.png) 50% no-repeat;
    background-size: 23px;
}

.icon.file-search {
    background: url(../icons/icon_file_search.png) 50% no-repeat;
    background-size: 23px;
}

.main-bg {
    background-color: #40B883;
    color: white;
}

.btn.main-bg:hover,
.main-bg .item:hover {
    background-color: #2E845E;
}

.sub-bg {
    background-color: #35495F;
    color: white;
}

.btn.sub-bg:hover,
.sub-bg .item:hover {
    background-color: #18212C;
}

.red-bg {
    background-color: rgb(255, 65, 65);
    color: white;
}
.btn.red-bg:hover,
.red-bg .item:hover {
    background-color: rgb(214, 60, 60);
}

.group-input {
    width: calc(100% - 30px);
    border: 1px solid rgb(131, 131, 131);
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    padding-left: 5px;
    line-height: 20px;
}

.group-label {
    width: 30px;
    border-top: 1px solid rgb(131, 131, 131);
    border-right: 1px solid rgb(131, 131, 131);
    border-bottom: 1px solid rgb(131, 131, 131);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    line-height: 20px;
    background-color: #3183db;
    color: white;
    font-weight: 300;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group label {
    width: 40%;
}
.input-group input {
    width: 50%;
}

.input-group:last-child {
    margin-bottom: 0;
}

.sign-link {
    font-size: 14px;
    transition: 0.3s;
}

.sign-link:hover {
    color: #2E845E;
}

.sub-caption {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

/* 공통 css END */

.main-header {
    width: 100%;
    height: 56px;
    background-color: #fff;
    box-shadow: -1px 1px 6px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.main-header .logo-img {
    height: 100%;
}

.img-section {
    width: 100%;
    height: 320px;
    position: relative;
}

.img-section .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-title {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 1px 1px 6px #000;
}

.main-nav {
    width: 100%;
    height: 48px;
    box-shadow: -1px 1px 6px #000;
    padding: 0 280px;
}

.main-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-nav ul li.item {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer {
    width: 100%;
    height: 120px;
    background-color: #ccc;
    border-top: 1px solid rgb(161, 161, 161);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-footer>div {
    margin: 7px 0;
}

.main-footer span {
    margin: 0 15px;
}

.main-content {
    min-height: 480px;
    margin: 15px 0;
    display: flex;
}

.main-content .left-section {
    width: 170px;
    margin: 0 5px;
}

.main-content .left-section a {
    cursor: pointer;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #35495F;
    border-left: 1px solid #35495F;
    border-right: 1px solid #35495F;
    color: #2E845E;
    transition: 0.3s;
}

.main-content .left-section a:hover {
    background-color: rgb(211, 211, 211);
}

.main-content .left-section a:last-child {
    border-bottom: 1px solid #35495F;
}

.main-content .left-section i {
    width: 23px;
    height: 23px;
    margin: 0 10px;
}

.main-content .left-section a span {
    font-size: 15px;
    font-weight: bold;
}

.main-content .left-section a p {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

.main-content .center-section {
    width: calc(100% - 360px);
    padding: 10px;
}

.main-content .center-section h2 {
    margin-bottom: 10px;
    margin-left: 5px;
}

.center-section .map-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .right-section {
    width: 170px;
    margin: 0 5px;
}

.main-content .right-section .calc-area {
    width: 100%;
    padding: 15px 5px;
    border: 1px solid #35495F;
    font-weight: bold;
    color: #18212C;
}

.right-section .calc-area div {
    margin-bottom: 8px;
}

.right-section .calc-area div:last-child {
    margin-bottom: 0;
}

.sign-page {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-wrap {
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #000;
    padding: 15px;
}

.sign-title a {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.sign-title img {
    width: 60%;
}

.sign-wrap h1,
.sign-wrap h2,
.sign-wrap h3,
.sign-wrap h4 {
    text-align: center;
    margin-bottom: 15px;
}