<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.himchan.estate.mapper.BoardMapper">

    <select id="findAll" resultType="java.util.HashMap">
        SELECT
        *
        FROM BOARD
    </select>

    <select id="selectTest" resultType="string">
        SELECT now() FROM DUAL
    </select>

    <resultMap id="BoardVO" type="site.himchan.estate.vo.BoardVO">
        <result property="boardSq" column="BOARD_SQ"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="boardCount" column="BOARD_COUNT"/>
        <result property="boardCreateDt" column="BOARD_CREATE_DT"/>
        <result property="boardModifyDt" column="BOARD_MODIFY_DT"/>
        <result property="boardSecret" column="BOARD_SECRET"/>
    </resultMap>

    <select id="getBoardCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
    </select>

    <select id="boardList" resultMap="BoardVO">
        SELECT *
        FROM BOARD
        ORDER BY BOARD_SQ DESC
    </select>

    <select id="searchList" resultMap="BoardVO">
        SELECT *
        FROM BOARD
        <if test="title != null">
            AND BOARD_TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="content != null">
            AND BOARD_CONTENT LIKE CONCAT('%',#{content},'%')
        </if>
        ORDER BY BOARD_SQ DESC
    </select>

    <select id="getSearchCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        <if test="title != null">
            AND BOARD_TITLE LIKE CONCAT('%',#{title},'%')
        </if>
        <if test="content != null">
            AND BOARD_CONTENT LIKE CONCAT('%',#{content},'%')
        </if>
        ORDER BY BOARD_SQ DESC
    </select>

    <select id="boardView" resultMap="BoardVO">
        SELECT * FROM BOARD
        WHERE BOARD_SQ = #{boardSq}
    </select>

    <update id="viewCount">
        UPDATE BOARD
        SET BOARD_COUNT = BOARD_COUNT + 1
        WHERE BOARD_SQ = #{boardSq}
    </update>

    <insert id="boardWrite" useGeneratedKeys="true" keyProperty="boardSq">
        INSERT INTO
        BOARD(
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_SECRET
        )
        VALUE
        (
            #{boardTitle},
            #{boardContent},
            #{boardSecret}
        )
    </insert>

    <delete id="boardDelete">
        DELETE FROM BOARD
        WHERE BOARD_SQ = #{boardSq}
    </delete>
</mapper>