<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.himchan.estate.mapper.BoardMapper">

    <select id="findAll" resultType="java.util.HashMap">
        SELECT
        *
        FROM BOARD
    </select>

    <select id="selectTest" resultType="string">
        SELECT now() FROM DUAL
    </select>

    <resultMap id="BoardVO" type="site.himchan.estate.vo.BoardVO">
        <result property="boardSq" column="BOARD_SQ"/>
        <result property="boardTitle" column="BOARD_TITLE"/>
        <result property="boardContent" column="BOARD_CONTENT"/>
        <result property="boardCount" column="BOARD_COUNT"/>
        <result property="boardCreateDt" column="BOARD_CREATE_DT"/>
        <result property="boardModifyDt" column="BOARD_MODIFY_DT"/>
        <result property="boardSecret" column="BOARD_SECRET"/>
    </resultMap>

    <select id="boardList" resultMap="BoardVO">
        SELECT
            BOARD_SQ,
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_COUNT,
            BOARD_MODIFY_DT,
            BOARD_SECRET
        FROM (
            SELECT
                BOARD_SQ,
                BOARD_TITLE,
                BOARD_CONTENT,
                BOARD_COUNT,
                BOARD_MODIFY_DT,
                BOARD_SECRET,
                ROW_NUMBER() OVER(ORDER BY BOARD_SQ DESC) AS NUMROW
                FROM BOARD
        ) AS B
        WHERE NUMROW BETWEEN (#{pageNo}-1)*5 + 1 AND (#{pageNo})*5
    </select>

    <select id="boardView" resultMap="BoardVO">
        SELECT * FROM BOARD
        WHERE BOARD_SQ = #{boardSq}
    </select>

    <insert id="boardWrite">
        INSERT INTO
        BOARD(
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_SECRET
        )
        VALUE
        (
        #{boardTitle},
        #{boardContent},
        #{boardSecret})
    </insert>

    <delete id="boardDelete">
        DELETE FROM BOARD
        WHERE BOARD_SQ = #{boardSq}
    </delete>
</mapper>