<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.himchan.estate.mapper.MemberMapper">

    <select id="findAll" resultType="site.himchan.estate.vo.MemberVO">
        SELECT
        *
        FROM MEMBER
    </select>

    <select id="findById" resultType="site.himchan.estate.vo.MemberVO">
        SELECT * FROM MEMBER WHERE MEMBER_ID = #{id}
    </select>

    <insert id="save">
        INSERT INTO MEMBER (MEMBER_ID, MEMBER_PWD, MEMBER_GRANT)
        VALUES (#{memberId}, #{memberPwd}, #{memberGrant})
    </insert>

    <select id="checkId" resultType="int">
        SELECT COUNT(MEMBER_ID) FROM MEMBER WHERE MEMBER_ID = #{id}
    </select>

</mapper>